@model AuthRegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow p-4 rounded-3">
            <h3 class="fw-lighter text-center">Kayıt Ol</h3>
            <form asp-action="Register" asp-controller="Account" method="post">
                @Html.AntiForgeryToken()
                
                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="FirstName" class="form-label">Ad</label>
                        <input  asp-for="FirstName" class="form-control" />
                        <span  asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="LastName" class="form-label">Soyad</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>


                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Şifre</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Şifre Tekrar</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                <div class="list-group-numbered text-danger" asp-validation-summary="All">

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}